body {
  background-color: #282c34 !important;
  color: white !important;
  a {
    color: #61dafb !important;
  }
}

.box {
  text-decoration: none;
  color: inherit;
}

.hover-box {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  border: 1px solid #4a4a4a;
}

.hover-box:hover {
  transform: scale(1.05);
}

.box-image {
  height: 100%;
  object-fit: cover;
  border: 1px #61dafb solid;
}

/* Ensure image is centered horizontally when the layout stacks on mobile */
@media (max-width: 576px) {
  .box-image {
    height: 200px; /* Set a fixed height for smaller screens */
    width: auto;
    display: block;
    margin: 0 auto; /* Center the image horizontally */
  }

  .box-text {
    font-size: 1.5rem; /* Reduce text size on mobile */
    padding: 10px; /* Add some padding for better spacing */
    text-align: center;
  }
}
