body {
  background-color: #282c34 !important;
  color: white !important;
  a {
    color: #61dafb !important;
  }
}

.hover-box {
  transition: transform 0.3s ease-in-out;
}

.hover-box:hover {
  transform: scale(1.05);
}